<!DOCTYPE html>
<html>
<head>    
    <title>Massa</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bulk.css" /> 
</head> 
<body>
<form action="/bulk" method="POST"> 
    <header>
        <div id="header">
            <h1><%= title %></h1>  
            <p>Altere somente o que precisar e deixe o resto como está, em branco. <b>Atenção na hora de alterar!</b></p>  
        </div>
        <div id="pesquisar">
            <input type="submit" name="pesquisar" value="Pesquisar">
        </div>
    </header>
    <main> 
        <table>
            <thead>
                <tr>
                <th id="bulkLinhas">Linhas</th>
                <th class="linha">Linha</th>
                <th>
                    <select name="lista1">
                        <option></option>
                        <option <% if (lista1n == 'local') { %> selected <% } %> value="local">Local</option>
                        <option <% if (lista1n == 'razao') { %> selected <% } %> value="razao">Razão Social</option>
                        <option <% if (lista1n == 'plano') { %> selected <% } %> value="plano">Plano</option>
                        <option <% if (lista1n == 'status') { %> selected <% } %> value="status">Status</option>
                        <option <% if (lista1n == 'extra') { %> selected <% } %> value="extra">Extra</option>
                        <option <% if (lista1n == 'grupo') { %> selected <% } %> value="grupo">Grupo</option>
                        <option <% if (lista1n == 'obs') { %> selected <% } %> value="obs">OBS</option>
                        <option <% if (lista1n == 'motivo') { %> selected <% } %> value="motivo">Motivo</option>
                        <option <% if (lista1n == 'bloqGestao') { %> selected <% } %> value="bloqGestao">Bloqueio Gestão</option>
                    </select>
                </th>
                <th>
                    <select name="lista2">
                        <option></option>
                        <option <% if (lista2n == 'local') { %> selected <% } %> value="local">Local</option>
                        <option <% if (lista2n == 'razao') { %> selected <% } %> value="razao">Razão Social</option>
                        <option <% if (lista2n == 'plano') { %> selected <% } %> value="plano">Plano</option>
                        <option <% if (lista2n == 'status') { %> selected <% } %> value="status">Status</option>
                        <option <% if (lista2n == 'extra') { %> selected <% } %> value="extra">Extra</option>
                        <option <% if (lista2n == 'grupo') { %> selected <% } %> value="grupo">Grupo</option>
                        <option <% if (lista2n == 'obs') { %> selected <% } %> value="obs">OBS</option>
                        <option <% if (lista2n == 'motivo') { %> selected <% } %> value="motivo">Motivo</option>
                        <option <% if (lista2n == 'bloqGestao') { %> selected <% } %> value="bloqGestao">Bloqueio Gestão</option>
                    </select>
                </th>
                <th>
                    <select name="lista3">
                        <option></option>
                        <option <% if (lista3n == 'local') { %> selected <% } %> value="local">Local</option>
                        <option <% if (lista3n == 'razao') { %> selected <% } %> value="razao">Razão Social</option>
                        <option <% if (lista3n == 'plano') { %> selected <% } %> value="plano">Plano</option>
                        <option <% if (lista3n == 'status') { %> selected <% } %> value="status">Status</option>
                        <option <% if (lista3n == 'extra') { %> selected <% } %> value="extra">Extra</option>
                        <option <% if (lista3n == 'grupo') { %> selected <% } %> value="grupo">Grupo</option>
                        <option <% if (lista3n == 'obs') { %> selected <% } %> value="obs">OBS</option>
                        <option <% if (lista3n == 'motivo') { %> selected <% } %> value="motivo">Motivo</option>
                        <option <% if (lista3n == 'bloqGestao') { %> selected <% } %> value="bloqGestao">Bloqueio Gestão</option>
                    </select>
                </th>
                </tr>
            </thead>
            <tbody>
            <tr id="primeiraLinha"> 
                <td id="linhas" rowspan="501"><textarea required maxlength="5999" name="bulkLinhas" rows="500" cols="11" ><%= str %></textarea></td>
            </tr>
        <% if(!docs || docs.length == 0) { %>
                <tr>
                  <td colspan="4">Nenhum resultado encontrado ainda.</td>
                </tr>
        <% } else {
          docs.forEach(function(linhasgestao){ %>
            <tr class="contRegistro"> 
              <td id="colunaLinha"><a href="/new/<%= linhasgestao._id %>"><%= linhasgestao.linha %></a></td>
              <td><%= linhasgestao[lista1n] %></td>
              <td><%= linhasgestao[lista2n] %></td>
              <td><%= linhasgestao[lista3n] %></td>
            </tr>
         <% })
        } %>
            </tbody>
        </table>
    </main>
    <aside> 
        <div id="filtros">
            <label><p> <span class="titulo"> Local: </span> </p><br>
                <select name="local">
                        <option></option>
                        <option value="Estoque_CT">Estoque CT</option>
                        <option>Virtual</option>
                        <option>-</option>
                        <option value="Estoque_BBA">Estoque BBA</option>
                        <option value="Com_colaborador">Com colaborador</option>
                </select>
            </label>
            <label><span class="titulo"> Razão Social: </span> <br>
                <select name="razao">
                        <option></option>
                        <option>REDECARD</option>
                        <option>LUIZACRED</option>
                        <option>KINEA_PRIVATE_EQUITY</option>
                        <option>KINEA_INVESTIMENTOS</option>
                        <option>ITAUSEG_SAUDE</option>
                        <option>ITAU_VIDA_PREVIDENCIA</option>
                        <option>ITAU_UNIBANCO</option>
                        <option>ITAU_UNIBANCO_HOLDING</option>
                        <option>ITAU_SEGUROS</option>
                        <option>ITAU_CORRETORA_VALORES</option>
                        <option>ITAU_CORRETORA_SEGUROS</option>
                        <option>ICARROS_LTDA</option>
                        <option>HIPERCARD_BCO_MULTIPLO</option>
                        <option>FUNDACAO_SAUDE_ITAU</option>
                        <option>FUND_ITAU_CLUBE</option>
                        <option>FINANC_ITAU_CBD</option>
                        <option>BANCO_ITAUCARD</option>
                        <option>BANCO_ITAU_CONSIGNADO</option>
                </select>
            </label>
            <label><span class="titulo"> Plano: </span> <br>
                <select name="plano">
                        <option></option>
                        <option>Smart2GB</option>
                        <option>Smart5GB</option>
                        <option>Dados3GB</option>
                        <option>Dados5GB</option>
                        <option>Dados10GB</option>
                        <option>SmartVoz</option>
                        <option>BOX100GB</option>
                        <option>TORPEDO</option>
                        <option>Smart10GB</option>
                        <option>Smart25GB</option>
                </select>
            </label>
            <label><span class="titulo"> Status: </span> <br>
                <select name="status">
                    <option></option>
                        <option>ATIVO</option>
                        <option>DESATIVO</option>
                        <option>PERDA_ROUBO</option>
                        <option>CANCELADA</option>
                </select>
            </label>
            <label><span class="titulo"> Extra: </span> <br>
                <select name="extra" disabled>
                        <option></option>
                        <option>BloqDevolucao</option>
                        <option>BloqEstoque</option>
                        <option>MapRedDesativo</option>
                        <option>MapRedPerdaRoubo</option>
                        <option>MapRedNaoBloq</option>
                </select>
            </label>
            <label><span class="titulo"> Grupo: </span> <br>
                <select name="grupo">
                    <option></option>
                    <option>-</option>
                        <option>EMP4</option>
                        <option>ExpansaoAssessoria</option>
                        <option>ExpansaoPersonalite</option>
                        <option>ExpansaoRedePri2</option>
                        <option>ExpansaoRedePri3</option>
                        <option>HunterEMP2e3</option>
                        <option>ProjetoSeguros</option>
                        <option>ProjetoHunter</option>
                        <option>ProjetoAgro</option>
                        <option>ProjetoRedecard</option>
                </select>
            </label>
            <label><span class="titulo"> OBS: </span> <br>
            <textarea maxlength="60" name="obs" rows="3" cols="28" placeholder="Digite uma observação sucinta..."></textarea></label>
            <label><span class="titulo"> Motivo: </span> <br>
            <textarea maxlength="60" name="motivo" rows="3" cols="28" placeholder="Digite de forma breve o motivo da sua alteração..."></textarea></label>
            <label><span class="titulo"> Bloqueio Gestão: </span> <br>
                <select name="bloqGestao">
                    <option></option>
                    <option>Desbloqueado</option>
                    <option>Bloqueado</option>
                </select>
            <input type="radio" id="Aquisição" name="acao" value="Aquisição">
            <label for="Aquisição">Aquisição</label><br>
            <input type="radio" id="Devolução" name="acao" value="Devolução">
            <label for="Devolução">Devolução</label><br>
            <input type="radio" id="Regularização" name="acao" value="Regularização">
            <label for="Regularização">Regularização</label><br>
            <input type="radio" id="Adequação_de_plano" name="acao" value="Adequação_de_plano">
            <label for="Adequação_de_plano">Adequação_de_plano</label><br>
            <input type="radio" id="Troca_de_CNPJ" name="acao" value="Troca_de_CNPJ">
            <label for="Troca_de_CNPJ">Troca_de_CNPJ</label><br>
            </label>     
            <a href="/"><button type="button">Voltar</button></a>
            <input type="submit" name="salvar" value="Salvar alterações" />    
        </div>
    </aside>
</form>
    <script src="/javascript/bulk.js" ></script>
</body> 
</html>