<!DOCTYPE html>
<html>
  <head>
    <title>Gestão de linhas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <div id="header">
      <h1><a href="/" >Gestão de linhas</a></h1>
      <p>Linhas cadastradas no sistema</p>
    </div>
    <form action="/" method="GET">
    <div id="divPesquisa">
      <label for="pesquisa">Pesquisar linha:</label>
      <input type="search" name="pesqCamp" maxlength="11" id="pesquisa">
      <input type="submit" value="Pesquisar" id="btnPesquisa"/>
    </div>
    </header>
    <main>
    <table>
      <thead>
        <tr>
          <td>Linha</td>
          <td>Local</td>
          <td>Razão Social</td>
          <td>Plano</td>
          <td>Status</td>
          <td>Grupo</td>
          <td>OBS</td>
        </tr>
      </thead>
      <tbody>
<% if(!docs || docs.length == 0) { %>
        <tr>
          <td colspan="7">Nenhum resultado encontrado.</td>
        </tr>
<% } else {
  docs.forEach(function(customer){ %>
    <tr class="contRegistro"> 
      <td><a href="/new/<%= customer._id %>"><%= customer.linha %></a></td>
      <td><%= customer.local %></td>
      <td><%= customer.razao %></td>
      <td>
        
        <%= customer.plano %>

        <!-- <a href="/delete/<%= customer._id %>" onclick="return confirm('Tem certeza?');">Excluir</a> -->
      </td>
      <td><%= customer.status %></td>
      <td><%= customer.grupo %></td>
      <td><%= customer.obs %></td>
    </tr>
 <% })
} %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <%= contaRegistro %> <!-- - <a href="/new">Cadastrar Novo</a> -->
          </td>
        </tr>
      </tfoot>
    </table>
    </main>
    <aside>
    <div id="dica">
      <p> Clique no número da linha para exibir mais detalhes. </p>
      <p> Escolha os filtros abaixo e em seguida clique em pesquisar. </p>
    </div>
    <div id="filtros">
      <h1>Filtros</h1>
      <label>Local
      <select name="local">
        <option></option>
        <option value="Estoque_CT">Estoque CT</option>
        <option>Virtual</option>
        <option>-</option>
        <option value="Estoque_BBA">Estoque BBA</option>
        <option value="Com_Colaborador">Com colaborador</option>
      </select>
      </label><br><br>
      <label>Razão Social
      <select name="razao">
        <option></option>
        <option>REDECARD</option>
        <option>LUIZACRED</option>
        <option>KINEA_PRIVATE_EQUITY</option>
        <option>KINEA_INVESTIMENTOS</option>
        <option>ITAUSEG_SAUDE</option>
        <option>ITAU_VIDA_PREVIDENCIA</option>
        <option>ITAU_UNIBANCOS.A.</option>
        <option>ITAU_UNIBANCO_HOLDING</option>
        <option>ITAU_SEGUROS</option>
        <option>ITAU_CORRETORA_VALORES</option>
        <option>ITAU_CORRETORA_SEGUROS</option>
        <option>ICARROS_LTDA</option>
        <option>HIPERCARD_BCO_MULTIPLO</option>
        <option>FUNDACAO_SAUDE_ITAU</option>
        <option>FUND_ITAU_CLUBE</option>
        <option>FINANC_ITAU_CBD_S/A</option>
        <option>BANCO_ITAUCARD</option>
        <option>BANCO_ITAU_CONSIGNADO</option>
      </select>
      </label><br><br>
      <label>Plano
      <select name="plano">
        <option></option>
        <option>Smart2GB</option>
        <option>Smart5GB</option>
        <option>Dados3GB</option>
        <option>Dados10GB</option>
        <option>SmartVoz</option>
        <option>FLEX</option>
        <option>BOX</option>
        <option>TORPEDO</option>
        <option>Smart10GB</option>
        <option>Smart25GB</option>
      </select>
      </label><br><br>
      <label>Status
      <select name="status">
        <option></option>
        <option>ATIVO</option>
        <option>DESATIVO</option>
        <option>PERDA/ROUBO</option>
      </select>
      </label><br><br>
      <label>Grupo</label><br><br>
    </div>
    </aside>
  </form>
    <script src="/javascript/index.js"></script>
  </body>
</html>
