<!DOCTYPE html>
<html>
  <head>
    <title>Gestão de linhas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <div id="header">
      <h1>Gestão de linhas</h1>
      <p>Linhas cadastradas no sistema</p>
    </div>
    <div id="divPesquisa">
      <label for="pesquisa">Pesquisar linha:</label>
      <input type="search" id="pesquisa">
      <button>Pesquisar</button>
    </div>
    </header>
    <table>
      <thead>
        <tr>
          <td>Linha</td>
          <td>Local</td>
          <td>Razão Social</td>
          <td>Plano</td>
          <td>Pacote</td>
          <td>Status</td>
          <td>Grupo</td>
          <td>OBS</td>
        </tr>
      </thead>
      <tbody>
<% if(!docs || docs.length == 0) { %>
        <tr>
          <td colspan="8">Nenhum cliente cadastrado.</td>
        </tr>
<% } else {
  docs.forEach(function(customer){ %>
    <tr>
      <td><a href="/new/<%= customer._id %>"><%= customer.nome %></a></td>
      <td><%= customer.idade %></td>
      <td><%= customer.uf %></td>
      <td>
        <a href="/delete/<%= customer._id %>" onclick="return confirm('Tem certeza?');">Excluir</a>
      </td>
      <td>BlaBlaBla</td>
      <td>BlaBlaBla</td>
      <td>BlaBlaBla</td>
      <td>BlaBlaBla</td>
    </tr>
 <% })
} %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">
            <a href="/new">Cadastrar Novo</a>
          </td>
        </tr>
      </tfoot>
    </table>
    <div id="dica">
      <p> Clique no número da linha para exibir mais detalhes </p>
    </div>
    <div id="filtros">
      <h1>Filtros</h1>
      <label>Local
      <select name="local">
        <option></option>
        <option>Lucas</option>
        <option>Teste</option>
      </select>
      </label>
      <p>Razão Social</p>
      <p>Plano</p>
      <p>Pacote</p>
      <p>Status</p>
      <p>Grupo</p>
    </div>
  </body>
</html>
