<!DOCTYPE html>
<html>
  <head>
    <title>Gestão de linhas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <div id="header">
      <h1><a href="/" >Gestão de linhas</a></h1>
      <p>Linhas cadastradas no sistema, usuário: <%= login %> <a href="/login">Sair</a></p>
    </div>
    <form action="/" method="GET">
    <div id="divPesquisa">
      <label for="pesquisa">Pesquisar linha:</label>
      <input type="search" name="pesqCamp" maxlength="11" id="pesquisa" value="<%= valorPesquisado %>">
      <input type="submit" value="Pesquisar" id="btnPesquisa"/>
    </div>
    </header>
    <main>
    <table>
      <thead>
        <tr>
          <td>Linha</td>
          <td>Local</td>
          <td>Razão Social</td>
          <td>Plano</td>
          <td>Status</td>
          <td>Grupo</td>
          <td id="colunaObs">OBS</td>
        </tr>
      </thead>
      <tbody>
<% if(!docs || docs.length == 0) { %>
        <tr>
          <td colspan="7">Nenhum resultado encontrado.</td>
        </tr>
<% } else {
  docs.forEach(function(linhasgestao){ %>
    <tr class="contRegistro"> 
      <td id="colunaLinha"><a href="/new/<%= linhasgestao._id %>"><%= linhasgestao.linha %></a></td>
      <td><%= linhasgestao.local %></td>
      <td><%= linhasgestao.razao %></td>
      <td>
        
        <%= linhasgestao.plano %>

        <!-- <a href="/delete/<%= linhasgestao._id %>" onclick="return confirm('Tem certeza?');">Excluir</a> -->
      </td>
      <td><%= linhasgestao.status %></td>
      <td><%= linhasgestao.grupo %></td>
      <td><%= linhasgestao.obs %></td>
    </tr>
 <% })
} %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <%= contaRegistro %> <!-- - <a href="/new">Cadastrar Novo</a> -->
          </td>
        </tr>
      </tfoot>
    </table>
    </main>
    <aside>
    <div id="dica">
      <p> Escolha os filtros abaixo e em seguida clique em pesquisar. Clique no número da linha para exibir mais detalhes. </p>
    </div>
    <div id="filtros">
      <h1>Filtros</h1>
      <label>Local:
      <select name="local">
        <option></option>
        <option value="Estoque_CT" <% if (local.local == 'Estoque_CT') { %> selected <% } %>>Estoque CT</option>
        <option <% if (local.local == 'Virtual') { %> selected <% } %>>Virtual</option>
        <option <% if (local.local == '-') { %> selected <% } %>>-</option>
        <option value="Estoque_BBA" <% if (local.local == 'Estoque_BBA') { %> selected <% } %>>Estoque BBA</option>
        <option value="Com_colaborador" <% if (local.local == 'Com_colaborador') { %> selected <% } %>>Com colaborador</option>
      </select>
      </label><br><br>
      <label>Razão Social:
      <select name="razao">
        <option></option>
        <option <% if (razao.razao == 'REDECARD') { %> selected <% } %> >REDECARD</option>
        <option <% if (razao.razao == 'LUIZACRED') { %> selected <% } %> >LUIZACRED</option>
        <option <% if (razao.razao == 'KINEA_PRIVATE_EQUITY') { %> selected <% } %> >KINEA_PRIVATE_EQUITY</option>
        <option <% if (razao.razao == 'KINEA_INVESTIMENTOS') { %> selected <% } %> >KINEA_INVESTIMENTOS</option>
        <option <% if (razao.razao == 'ITAUSEG_SAUDE') { %> selected <% } %> >ITAUSEG_SAUDE</option>
        <option <% if (razao.razao == 'ITAU_VIDA_PREVIDENCIA') { %> selected <% } %> >ITAU_VIDA_PREVIDENCIA</option>
        <option <% if (razao.razao == 'ITAU_UNIBANCO') { %> selected <% } %> >ITAU_UNIBANCO</option>
        <option <% if (razao.razao == 'ITAU_UNIBANCO_HOLDING') { %> selected <% } %> >ITAU_UNIBANCO_HOLDING</option>
        <option <% if (razao.razao == 'ITAU_SEGUROS') { %> selected <% } %> >ITAU_SEGUROS</option>
        <option <% if (razao.razao == 'ITAU_CORRETORA_VALORES') { %> selected <% } %> >ITAU_CORRETORA_VALORES</option>
        <option <% if (razao.razao == 'ITAU_CORRETORA_SEGUROS') { %> selected <% } %> >ITAU_CORRETORA_SEGUROS</option>
        <option <% if (razao.razao == 'ICARROS_LTDA') { %> selected <% } %> >ICARROS_LTDA</option>
        <option <% if (razao.razao == 'HIPERCARD_BCO_MULTIPLO') { %> selected <% } %> >HIPERCARD_BCO_MULTIPLO</option>
        <option <% if (razao.razao == 'FUNDACAO_SAUDE_ITAU') { %> selected <% } %> >FUNDACAO_SAUDE_ITAU</option>
        <option <% if (razao.razao == 'FUND_ITAU_CLUBE') { %> selected <% } %> >FUND_ITAU_CLUBE</option>
        <option <% if (razao.razao == 'FINANC_ITAU_CBD') { %> selected <% } %> >FINANC_ITAU_CBD</option>
        <option <% if (razao.razao == 'BANCO_ITAUCARD') { %> selected <% } %> >BANCO_ITAUCARD</option>
        <option <% if (razao.razao == 'BANCO_ITAU_CONSIGNADO') { %> selected <% } %> >BANCO_ITAU_CONSIGNADO</option>
      </select>
      </label><br><br>
      <label>Plano:
      <select name="plano">
        <option></option>
        <option <% if (plano.plano == 'Smart2GB') { %> selected <% } %> >Smart2GB</option>
        <option <% if (plano.plano == 'Smart5GB') { %> selected <% } %> >Smart5GB</option>
        <option <% if (plano.plano == 'Dados3GB') { %> selected <% } %> >Dados3GB</option>
        <option <% if (plano.plano == 'Dados5GB') { %> selected <% } %> >Dados5GB</option>
        <option <% if (plano.plano == 'Dados10GB') { %> selected <% } %> >Dados10GB</option>
        <option <% if (plano.plano == 'SmartVoz') { %> selected <% } %> >SmartVoz</option>
        <option <% if (plano.plano == 'BOX100GB') { %> selected <% } %> >BOX100GB</option>
        <option <% if (plano.plano == 'TORPEDO') { %> selected <% } %> >TORPEDO</option>
        <option <% if (plano.plano == 'Smart10GB') { %> selected <% } %> >Smart10GB</option>
        <option <% if (plano.plano == 'Smart25GB') { %> selected <% } %> >Smart25GB</option>
      </select>
      </label><br><br>
      <label>Status:
      <select name="status">
        <option></option>
        <option <% if (status.status == 'ATIVO') { %> selected <% } %> >ATIVO</option>
        <option <% if (status.status == 'DESATIVO') { %> selected <% } %> >DESATIVO</option>
        <option <% if (status.status == 'PERDA_ROUBO') { %> selected <% } %> >PERDA_ROUBO</option>
        <option <% if (status.status == 'CANCELADA') { %> selected <% } %> >CANCELADA</option>
      </select>
      </label><br><br>
      <label>Grupo:
      <input list="grupo" name="grupo" value="<%= valorPesquisadoGrupo %>">
      <datalist id="grupo">
        <option></option>
    <% distinctGrupo.forEach(function(grupos){ %>
        <option><%= grupos %></option>
    <% }) %>
      </datalist>
      </label><br><br>
      <label>Extra:
        <select name="extra">
          <option></option>
          <option <% if (extra.extra == '-') { %> selected <% } %> >-</option>
          <option <% if (extra.extra == 'BloqDevolucao') { %> selected <% } %> >BloqDevolucao</option>
          <option <% if (extra.extra == 'BloqEstoque') { %> selected <% } %> >BloqEstoque</option>
          <option <% if (extra.extra == 'MapRedDesativo') { %> selected <% } %>>MapRedDesativo</option>
          <option <% if (extra.extra == 'MapRedPerdaRoubo') { %> selected <% } %> >MapRedPerdaRoubo</option>
          <option <% if (extra.extra == 'MapRedNaoBloq') { %> selected <% } %> >MapRedNaoBloq</option>
        </select>
      </label><br><br>
      <label>Limite de resultados:
        <input type="number" name="limit" max="500" min="1" value="<%= limit %>">
      </label><br><br>
      </div>
      <div id="filtros">
        <h1>Avançado</h1>
        <p><a href="/bulk">Pesquisa e alteração em massa</a></p>
        <p><a href="#">Dashboards</a></p>
      </div>
    </aside>
  </form>
    <script src="/javascript/index.js"></script>
  </body>
</html>
