<!DOCTYPE html>
<html>
  <head>
    <title>Gestão de linhas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <div id="header">
      <h1><a href="/" >Gestão de linhas</a></h1>
      <p>Linhas cadastradas no sistema</p>
    </div>
    <form action="/" method="GET">
    <div id="divPesquisa">
      <label for="pesquisa">Pesquisar linha:</label>
      <input type="search" name="pesqCamp" maxlength="11" id="pesquisa">
      <input type="submit" value="Pesquisar" id="btnPesquisa"/>
    </div>
    </header>
    <main>
    <table>
      <thead>
        <tr>
          <td>Linha</td>
          <td>Local</td>
          <td>Razão Social</td>
          <td>Plano</td>
          <td>Status</td>
          <td>Grupo</td>
          <td>OBS</td>
        </tr>
      </thead>
      <tbody>
<% if(!docs || docs.length == 0) { %>
        <tr>
          <td colspan="7">Nenhum resultado encontrado.</td>
        </tr>
<% } else {
  docs.forEach(function(customer){ %>
    <tr class="contRegistro"> 
      <td><a href="/new/<%= customer._id %>"><%= customer.linha %></a></td>
      <td><%= customer.local %></td>
      <td><%= customer.razao %></td>
      <td>
        
        <%= customer.plano %>

        <!-- <a href="/delete/<%= customer._id %>" onclick="return confirm('Tem certeza?');">Excluir</a> -->
      </td>
      <td><%= customer.status %></td>
      <td><%= customer.grupo %></td>
      <td><%= customer.obs %></td>
    </tr>
 <% })
} %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <%= contaRegistro %> <!-- - <a href="/new">Cadastrar Novo</a> -->
          </td>
        </tr>
      </tfoot>
    </table>
    </main>
    <aside>
    <div id="dica">
      <p> Clique no número da linha para exibir mais detalhes. </p>
      <p> Escolha os filtros abaixo e em seguida clique em pesquisar. </p>
    </div>
    <div id="filtros">
      <h1>Filtros</h1>
      <label>Local
      <select name="local">
        <option></option>
        <option value="EstoqueCT">Estoque CT</option>
        <option>Virtual</option>
        <option>-</option>
        <option value="EstoqueBBA">Estoque BBA</option>
        <option value="Comcolaborador">Com colaborador</option>
      </select>
      </label><br><br>
      <label>Razão Social
      <select name="razaoSocial">
        <option></option>
        <option>REDECARD S/A</option>
        <option>LUIZACRED S.A. SOCIEDADE DE CREDITO, FINANCIAMENTO E INVESTIMENTO</option>
        <option>KINEA PRIVATE EQUITY INVESTIMENTOS S.A.</option>
        <option>KINEA INVESTIMENTOS LTDA.</option>
        <option>ITAUSEG SAUDE S/A.</option>
        <option>ITAU VIDA E PREVIDENCIA S.A.</option>
        <option>ITAU UNIBANCO S.A.</option>
        <option>ITAU UNIBANCO HOLDING SA</option>
        <option>ITAU SEGUROS S/A</option>
        <option>ITAU CORRETORA DE VALORES S/A</option>
        <option>ITAU CORRETORA DE SEGUROS S.A.</option>
        <option>ICARROS LTDA</option>
        <option>HIPERCARD BANCO MULTIPLO S.A.</option>
        <option>FUNDACAO SAUDE ITAU</option>
        <option>FUNDACAO ITAU UNIBANCO CLUBE</option>
        <option>FUNDACAO ITAU UNIBANCO CLUBE</option>
        <option>FINANC ITAU CBD S/A CRED FINANC INVEST</option>
        <option>BANCO ITAUCARD S.A.</option>
        <option>BANCO ITAU CONSIGNADO S.A.</option>
      </select>
      </label><br><br>
      <label>Plano
      <select name="plano">
        <option></option>
        <option>SMART EMPRESAS 2GB D</option>
        <option>PLANO BASE INTERNET PJ</option>
        <option>SMART EMPRESAS 5GB D</option>
        <option>SMART EMPRESAS NACIONAL VOZ D</option>
        <option>VIVO EMPRESAS FLEX ASSIN</option>
        <option>PLANO INTERNET BOX PJ</option>
        <option>PLANO TORPEDO EMPRESA</option>
        <option>SMART EMPRESAS 10GB D</option>
        <option>SMART EMPRESAS 25GB D</option>
      </select>
      </label><br><br>
      <label>Status</label><br><br>
      <label>Grupo</label><br><br>
    </div>
    </aside>
  </form>
    <script src="/javascript/index.js"></script>
  </body>
</html>
